*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/Direct route Rubavu-Rusizi.kmz
app/src/main/assets/Direct_route_Rubavu-Rusizi100mbuffer.kmz
app/src/main/assets/Proposed_Navigation_Routes&Portss.kmz
